.body {
	font-family: 'Work Sans' , sans-serif;
}

header {
    background-image: url(../img/bg/fondo1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-yellow {
    background-color: #FBE134;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-yellow:hover {
    background-color: #1b1c22;
    color: #FBE134;
    border: 2px solid #FBE134;
}

.border-yellow {
	border: 1px solid #FBE134;
}

.text-yellow {
    color: #FBE134;
}

.bg-oscuro {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,38,46,1) 50%, rgba(27,28,34,1) 100%);
}

.text-oscuro {
	color: #1b1c22;
}

.navbar-nav a.nav-link {
    color: #fffffc;
}

.navbar-nav a.nav-link.active,
.navbar-nav a.nav-link:hover {
    text-decoration: underline;
    color: #FBE134;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.bg-img {
	/* Agrega aquí la URL de tu imagen de fondo */
	background-image: url('../img/bg/fondo2.jpg');
	background-size: cover;
	background-position: center;
	
  }

  .border-yellow {
	border: 2px solid #FBE134;
  }
  
  .border-bottom-yellow {
	border-bottom: 2px solid #FBE134;
  }

.bg-card {
	background-color: rgba(255, 255, 255, 0.01);
}



/* ---------------------- Galeria --------------------------------*/

.card {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
    color: #fff; /* Color del texto en la superposición */
    opacity: 0; /* Ocultar inicialmente la superposición */
    transition: opacity 0.3s; /* Transición de opacidad suave */
}

.card:hover .card-overlay {
    opacity: 1; /* Mostrar la superposición al pasar el cursor */
}

.custom-card {
    border: 3px solid #000; /* Línea divisoria de 2 píxel negra */
    border-radius: 0; /* Eliminar bordes redondeados */
    margin: 0; /* Eliminar los márgenes entre las tarjetas */
}
.custom-card .card-img-top {
    border-radius: 0;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
	background-repeat:no-repeat;
	font-size:20px;
	color:black;
	cursor:pointer;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:2;
  }

/* ------------------------- F.A.Q --------------------------------------*/

/* Cambiar el color y estilo de la flecha en el acordeón en Bootstrap 5 */
.accordion-button::after {
	content: "\25BC"; /* Código Unicode para la flecha hacia abajo */
	color: white; /* Cambia este color al que desees para que se vea en fondos oscuros */
	float: right; /* Alinea la flecha a la derecha */
	transition: transform 0.3s; /* Agregar transición suave a la rotación */
	transform: rotate(0deg); /* Inicialmente no rotada */
	margin-right: 10px; /* Añade un espacio entre el texto y la flecha */
  }

  .accordion-button.collapsed::after {
	content: "\25B2"; /* Código Unicode para la flecha hacia arriba cuando el acordeón está colapsado */
	transform: rotate(180deg); /* Rotar 180 grados cuando está colapsado */
  }

/* -------------------------- CSS de Contacto -------------------------------- */

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] 
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#24262E;
	padding:25px;
}
#contact-form h3 {
	color:#FBE134;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#FBE134;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#FBE134;
	background-image:linear-gradient(bottom, #FBE134 0%, #FBE134 52%);
	background-image:-moz-linear-gradient(bottom, #FBE134 0%, #FBE134 52%);
	background-image:-webkit-linear-gradient(bottom, #FBE134 0%, #FBE134 52%);
	color:#0B0C0C;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #fbe034b7 0%, #fbe034b7 52%);
	background-image:-moz-linear-gradient(bottom, #fbe034b7 0%, #fbe034b7 52%);
	background-image:-webkit-linear-gradient(bottom, #fbe034b7 0%, #fbe034b7 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
